.app.dark {
    --bg-color: #0c355d;
    --inverted-bg-color: #cecece;
    --primary-color: #43b622;
    --secondary-color: #287029;
    --inverted-primary-color: #24455b;
    --inverted-secondary-color: #4a8fa1;
}