.app.light {
  --bg-color: #cecece;
  --inverted-bg-color: #0c355d;

  --primary-color: #24455b;
  --secondary-color: #4a8fa1;

  --inverted-primary-color: #43b622;
  --inverted-secondary-color: #287029;
}